<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Смена пароля</title>
</head>
<body>
<div layout:fragment="content">

  <form method="POST" th:action="@{/user/setNewPassword}">

    <!-- Ограничиваем общую ширину формы и центрируем её с помощью mx-auto -->
    <div class="container py-4" style="max-width: 500px;">

      <div th:if="${errorSetNewPassword}">
        <div class="alert alert-danger">
          <p th:text="${errorSetNewPassword}"></p>
        </div>
      </div>

      <h1 class="text-center mb-4">Смена пароля</h1>

      <div class="form-group col-12">
        <label for="password" class="form-label">Пароль</label>
        <input name="newPassword1" type="password" class="form-control" id="password" placeholder="*****" required>
      </div>
      <div class="form-group col-12">
        <label for="password2" class="form-label">Пароль</label>
        <input name="newPassword2" type="password" class="form-control" id="password2" placeholder="*****" required>
      </div>

      <!-- Кнопка отправки на всю ширину -->
      <div class="form-group col-12 mt-4">
        <button class="btn btn-primary w-100" type="submit">Сменить</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>
