<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование категории</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container py-4">
        <h1>Редактирование категории</h1>
    </div>
    <div class="row g-3 align-items-end" th:object="${editCategoryForm}">
        <form th:action="@{/category/editCategory/edit}" method="post" class="row g-3 align-items-end">

            <input type="hidden" th:field="*{id}">
            <div class="col-md-3">
                <label for="nameWallet" class="form-label fw-bold small ">Название</label>
                <input type="text" class="form-control" id="nameWallet"
                       th:placeholder="*{name}"
                       th:field="*{name}"
                       required>
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-primary w-100">
                    Изменить
                </button>
            </div>

        </form>

        <!-- Кнопка «Восстановить» показывается, ТОЛЬКО если кошелек удален (isDeleted == true) -->
        <form class="col-md-3" th:action="@{/category/editCategory/restore}" method="post"
              sec:authorize="isAuthenticated() && (hasRole('ADMIN'))"
              th:if="*{isDeleted}">
            <input type="hidden" name="deleteId" th:value="*{id}">
            <button type="submit" class="btn btn-success w-100">
                Восстановить
            </button>
        </form>

        <!-- Кнопка «Удалить» показывается, ТОЛЬКО если кошелек НЕ удален (isDeleted == false) -->
        <form class="col-md-3" th:action="@{/category/editCategory/delete}" method="post"
              sec:authorize="isAuthenticated() && (hasRole('ADMIN'))"
              th:if="*{!isDeleted}">
            <input type="hidden" name="deleteId" th:value="*{id}">
            <button class="btn btn-danger w-100" type="submit">
                Удалить
            </button>
        </form>

        <div class="col-md-3">
            <a class="btn btn-primary w-100" onclick="history.back()" type="button">Отмена</a>
        </div>
    </div>
</div>
</body>
</html>